export HDWALLET_MNEMONIC="huge sand soldier lock vapor major birth daring neglect finish wife window"
export ROPSTEN_PROVIDER_URL='https://ropsten.infura.io/W8EIG3KQ6oDdnq9CBPWt'
export RINKEBY_PROVIDER_URL='https://rinkeby.infura.io/<your infura key>'
